* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-head {
    margin-top: 50px;
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    color: #fff;
    overflow: hidden;
}

.inner-head>.h {
    width: 50%;
}

.inner-head .head-text {
    margin: 111px 106px;
    padding-right: 50px;
}

.inner-head .head-text h1 {
    font-size: 70px;
    font-family: 'Albert Sans', sans-serif;
}

.inner-head .head-text p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.btn {
    margin-top: 30px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 16px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    transform: scale(1.1);
}

.inner-head .head-text .livebtn>i {
    font-size: 20px;
    padding-left: 5px;
}

.inner-head .head-image img {
    width: 75%;
    transition: 0.3s;
}

.inner-head .head-image img:hover {
    transform: scale(1.1);
}

/* Main article */
article {
    margin-top: 130px;
}

.main-article {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-article .article-section {
    width: 1321px;
    display: flex;
    justify-content: space-between;
}

.main-article .article-section .btn {
    display: none;
}

.main-article .article-section .blog {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
}

.main-article .article-section .blog>a {
    text-decoration: none;
}

.main-article .article-section .blog>a>button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 252px;
    height: 64px;
    color: #161616;
    border-radius: 10px;
    border: none;
    outline: none;
}

.main-article .article-section .blog .top {
    background: #DD0000;
    color: #fff;
}

.main-article .article-section .blog #middle {
    margin: 30px 0;
}

.main-article .article-section .live {
    width: calc(100% - 336px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

}

.main-article .article-section .live-video {
    border: 1px solid #16161616;
    border-radius: 15px;
    height: 242px;
}

.main-article .article-section .live-video .CvsC {
    padding: 53px 30px;
}

.main-article .article-section .live-video .CvsC .flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.main-article .article-section .live-video .CvsC .flag-text {
    margin-top: 20px;
}

.main-article .article-section .live-video .CvsC .flag-text h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.main-article .article-section .live-video .CvsC .flag-text p {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* Foooter start */
footer {
    margin-top: 130px;
    width: 100%;
    background: #161616;
    height: 444px;

}

footer .footer-content {
    width: 1321px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

footer .footer-content h1 {
    padding: 50px 0 50px;
    font-size: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

footer .footer-content .footer-link {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

footer .footer-content .footer-link a {
    text-decoration: none;
    color: #B9B9B9;
}

footer .footer-content .social {
    margin-top: 50px;
}

footer .footer-content .social>a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}

footer .footer-content .social>a>i {
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(91, 90, 90, 0.5);
}